@{
    ViewData["Title"] = "Login";
}

<link href="~/css/Site.css" rel="stylesheet" />
<link href="~/css/Login.css" rel="stylesheet" />

<div class="full-background">
    <div class="login-container">
        <div class="left-section">
            <div class="loginbox">
                <img src="~/Images/login.png" alt="User Icon" class="user" />
                <h2>Log in to GoMate</h2>

                @if (ViewData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
                }

                <form method="post">
                    <label class="lblemail">Email</label>
                    <input type="email" class="txtemail" name="Email" placeholder="Enter Email" required />

                    <label class="lblpass">Password</label>
                    <input type="password" class="txtpass" name="Password" placeholder="********" required />

                    <label class="lblusertype">Login As</label>
                    <select class="txtusertype" name="UserType" required>
                        <option value="">-- Select Role --</option>
                        <option value="Passenger">Passenger</option>
                        <option value="Driver">Driver</option>
                    </select>

                    <a href="#" class="btnforget">Forgot Password?</a>

                    <br /><br />

                    <button type="submit" class="btnsubmit">Log In</button>

                    <br /><br />

                    Don't have an account?
                    <a class="btnregister" asp-controller="Account" asp-action="Register">Click Here to Register</a>
                </form>

            </div>
        </div>

        <div class="right-section">
            <h1>Find Your Ride, Share Your Journey</h1>
            <p>Connect with drivers and riders to share travel costs and reduce your carbon footprint.</p>
        </div>
    </div>
</div>
